In [11]:
# data model implimentation using svm algorithm
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

# load data
data=pd.read_csv('C:/Users/donad/OneDrive/Desktop/Internship/1_Machine Learning/4_Supervised_Learning/Classification/Datasets/Fish.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [12]:
# check for null value
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [13]:
# check for dupplicates
data.duplicated().sum()

0

In [14]:
# splitting to train and test
train,test=train_test_split(data,test_size=0.1)
train

    Species  Weight  Length1  Length2  Length3   Height   Width
33    Bream   975.0     37.4     41.0     45.9  18.6354  6.7473
44    Roach   145.0     20.5     22.0     24.3   6.6339  3.5478
130    Pike   300.0     32.7     35.0     38.8   5.9364  4.3844
102   Perch   300.0     25.2     27.3     28.7   8.3230  5.1373
126   Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420
..      ...     ...      ...      ...      ...      ...     ...
63   Parkki    90.0     16.3     17.7     19.8   7.4052  2.6730
34    Bream   950.0     38.0     41.0     46.5  17.6235  6.3705
54    Roach   390.0     29.5     31.7     35.0   9.4850  5.3550
27    Bream   714.0     32.7     36.0     41.5  16.5170  5.8515
81    Perch    85.0     18.2     20.0     21.0   5.0820  2.7720

[143 rows x 7 columns]

In [15]:
test

    Species  Weight  Length1  Length2  Length3   Height   Width
50    Roach   200.0     22.1     23.5     26.8   7.3968  4.1272
83    Perch   115.0     19.0     21.0     22.5   5.9175  3.3075
106   Perch   250.0     25.9     28.0     29.4   7.8204  4.2042
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
37    Roach    78.0     17.5     18.8     21.2   5.5756  2.9044
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
101   Perch   218.0     25.0     26.5     28.0   7.1680  4.1440
122   Perch   820.0     37.1     40.0     42.5  11.1350  6.6300
19    Bream   650.0     31.0     33.5     38.7  14.4738  5.7276
150   Smelt     8.7     10.8     11.3     12.6   1.9782  1.2852
146   Smelt     7.5     10.0     10.5     11.6   1.9720  1.1600
89    Perch   135.0     20.0     22.0     23.5   5.8750  3.5250
145   Smelt     6.7      9.3      9.8     10.8   1.7388  1.0476
9     Bream   500.0     28.5     30.7     36.2  14.2266  4.9594
14    Bream   600.0     29.4     32.0     37.2  14.9544  5.1708
25    Bream   725.0     31.8     35.0     40.9  16.3600  6.0532

In [16]:
trainx=train.iloc[:,1:]
trainy=train.iloc[:,0]
testx=test.iloc[:,1:]
testy=test.iloc[:,0]

# model building
# linear
model_linear=SVC(kernel='linear')
predlinear=model_linear.fit(trainx,trainy).predict(testx)
acc=np.mean(predlinear==testy)
acc

1.0

In [17]:
# ploynomial
model_poly=SVC(kernel='poly')
predpoly=model_poly.fit(trainx,trainy).predict(testx)
acc1=np.mean(predpoly==testy)
acc1

0.3125

In [18]:
# gaussian-radian basis fn
model_rbf=SVC(kernel='rbf')
predrbf=model_rbf.fit(trainx,trainy).predict(testx)
acc2=np.mean(predrbf==testy)
acc2

0.5625

In [19]:
# sigmoid
model_sigmoid=SVC(kernel='sigmoid')
predsig=model_sigmoid.fit(trainx,trainy).predict(testx)
acc3=np.mean(predsig==testy)
acc3

0.5625