In [1]:
# MACHINE LEARNING PROJECT
# Flight delay prediction
# Using collected data from the past, predict the hours/minutes/seconds each flight gets delayed.

# import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [2]:
# import dataset 1 and display it
Jan2019 = pd.read_csv(r"C:\Users\donad\OneDrive\Desktop\Internship\1_Machine Learning\project_Datasets\Flight_delay_prediction\Jan_2019_ontime.csv")
Jan2019

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,31,4,UA,19977,UA,N776UA,200,12016,1201602,GUM,...,HNL,749.0,0.0,0700-0759,1832.0,0.0,0.0,0.0,3801.0,NaN
583981,31,4,UA,19977,UA,N36280,174,12016,1201602,GUM,...,SPN,717.0,0.0,0700-0759,759.0,0.0,0.0,0.0,129.0,NaN
583982,31,4,UA,19977,UA,N36280,117,14955,1495503,SPN,...,GUM,857.0,0.0,0900-0959,933.0,0.0,0.0,0.0,129.0,NaN
583983,31,4,UA,19977,UA,N39726,105,14955,1495503,SPN,...,GUM,1820.0,0.0,1800-1859,1854.0,0.0,0.0,0.0,129.0,NaN
583984,31,4,UA,19977,UA,N39726,104,12016,1201602,GUM,...,SPN,1636.0,0.0,1600-1659,1719.0,0.0,0.0,0.0,129.0,NaN

In [3]:
#import dataset 2 and display it
Jan2020 = pd.read_csv(r"C:\Users\donad\OneDrive\Desktop\Internship\1_Machine Learning\project_Datasets\Flight_delay_prediction\Jan_2020_ontime.csv")
Jan2020

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,3,EV,20366,EV,N48901,4397,13930,1393007,ORD,...,GRB,1003.0,0.0,1000-1059,1117.0,0.0,0.0,0.0,174.0,NaN
1,1,3,EV,20366,EV,N16976,4401,15370,1537002,TUL,...,ORD,1027.0,0.0,1000-1059,1216.0,0.0,0.0,0.0,585.0,NaN
2,1,3,EV,20366,EV,N12167,4404,11618,1161802,EWR,...,TYS,1848.0,0.0,1800-1859,2120.0,0.0,0.0,0.0,631.0,NaN
3,1,3,EV,20366,EV,N14902,4405,10781,1078105,BTR,...,IAH,1846.0,0.0,1800-1859,2004.0,0.0,0.0,0.0,253.0,NaN
4,1,3,EV,20366,EV,N606UX,4407,14524,1452401,RIC,...,IAH,1038.0,0.0,1000-1059,1330.0,0.0,0.0,0.0,1157.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607341,31,5,9E,20363,9E,N331CA,4812,15412,1541205,TYS,...,DTW,1002.0,1.0,0700-0759,1128.0,1.0,0.0,0.0,443.0,NaN
607342,31,5,9E,20363,9E,N295PQ,4813,11433,1143302,DTW,...,JFK,1747.0,0.0,1700-1759,1933.0,0.0,0.0,0.0,509.0,NaN
607343,31,5,9E,20363,9E,N294PQ,4814,11996,1199603,GSP,...,LGA,554.0,0.0,0600-0659,752.0,0.0,0.0,0.0,610.0,NaN
607344,31,5,9E,20363,9E,N228PQ,4815,10397,1039707,ATL,...,XNA,1714.0,0.0,1700-1759,1811.0,0.0,0.0,0.0,589.0,NaN
607345,31,5,9E,20363,9E,N228PQ,4815,15919,1591904,XNA,...,ATL,1841.0,0.0,1800-1859,2128.0,0.0,0.0,0.0,589.0,NaN

In [4]:
# Combining 2 datasets
flight_del_pred_df = pd.concat([Jan2019, Jan2020], ignore_index=True)
flight_del_pred_df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,9E,20363,9E,N331CA,4812,15412,1541205,TYS,...,DTW,1002.0,1.0,0700-0759,1128.0,1.0,0.0,0.0,443.0,NaN
1191327,31,5,9E,20363,9E,N295PQ,4813,11433,1143302,DTW,...,JFK,1747.0,0.0,1700-1759,1933.0,0.0,0.0,0.0,509.0,NaN
1191328,31,5,9E,20363,9E,N294PQ,4814,11996,1199603,GSP,...,LGA,554.0,0.0,0600-0659,752.0,0.0,0.0,0.0,610.0,NaN
1191329,31,5,9E,20363,9E,N228PQ,4815,10397,1039707,ATL,...,XNA,1714.0,0.0,1700-1759,1811.0,0.0,0.0,0.0,589.0,NaN
1191330,31,5,9E,20363,9E,N228PQ,4815,15919,1591904,XNA,...,ATL,1841.0,0.0,1800-1859,2128.0,0.0,0.0,0.0,589.0,NaN

In [5]:
#checking for null values
flight_del_pred_df.isnull().sum()

DAY_OF_MONTH                   0
DAY_OF_WEEK                    0
OP_UNIQUE_CARRIER              0
OP_CARRIER_AIRLINE_ID          0
OP_CARRIER                     0
TAIL_NUM                    3241
OP_CARRIER_FL_NUM              0
ORIGIN_AIRPORT_ID              0
ORIGIN_AIRPORT_SEQ_ID          0
ORIGIN                         0
DEST_AIRPORT_ID                0
DEST_AIRPORT_SEQ_ID            0
DEST                           0
DEP_TIME                   23016
DEP_DEL15                  23054
DEP_TIME_BLK                   0
ARR_TIME                   24136
ARR_DEL15                  26100
CANCELLED                      0
DIVERTED                       0
DISTANCE                       0
Unnamed: 21              1191331
dtype: int64

In [6]:
# remove last column with full null values
flight_del_pred_df.drop('Unnamed: 21', axis = 1, inplace = True)
flight_del_pred_df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,9E,20363,9E,N331CA,4812,15412,1541205,TYS,...,1143302,DTW,1002.0,1.0,0700-0759,1128.0,1.0,0.0,0.0,443.0
1191327,31,5,9E,20363,9E,N295PQ,4813,11433,1143302,DTW,...,1247805,JFK,1747.0,0.0,1700-1759,1933.0,0.0,0.0,0.0,509.0
1191328,31,5,9E,20363,9E,N294PQ,4814,11996,1199603,GSP,...,1295304,LGA,554.0,0.0,0600-0659,752.0,0.0,0.0,0.0,610.0
1191329,31,5,9E,20363,9E,N228PQ,4815,10397,1039707,ATL,...,1591904,XNA,1714.0,0.0,1700-1759,1811.0,0.0,0.0,0.0,589.0
1191330,31,5,9E,20363,9E,N228PQ,4815,15919,1591904,XNA,...,1039707,ATL,1841.0,0.0,1800-1859,2128.0,0.0,0.0,0.0,589.0

In [7]:
# Dropping all rows with null values
flight_del_pred_df.dropna(inplace = True)
flight_del_pred_df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,...,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,...,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,...,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,...,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,...,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,9E,20363,9E,N331CA,4812,15412,1541205,TYS,...,1143302,DTW,1002.0,1.0,0700-0759,1128.0,1.0,0.0,0.0,443.0
1191327,31,5,9E,20363,9E,N295PQ,4813,11433,1143302,DTW,...,1247805,JFK,1747.0,0.0,1700-1759,1933.0,0.0,0.0,0.0,509.0
1191328,31,5,9E,20363,9E,N294PQ,4814,11996,1199603,GSP,...,1295304,LGA,554.0,0.0,0600-0659,752.0,0.0,0.0,0.0,610.0
1191329,31,5,9E,20363,9E,N228PQ,4815,10397,1039707,ATL,...,1591904,XNA,1714.0,0.0,1700-1759,1811.0,0.0,0.0,0.0,589.0
1191330,31,5,9E,20363,9E,N228PQ,4815,15919,1591904,XNA,...,1039707,ATL,1841.0,0.0,1800-1859,2128.0,0.0,0.0,0.0,589.0

In [8]:
#checking for null values
flight_del_pred_df.isnull().sum()

DAY_OF_MONTH             0
DAY_OF_WEEK              0
OP_UNIQUE_CARRIER        0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER               0
TAIL_NUM                 0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST                     0
DEP_TIME                 0
DEP_DEL15                0
DEP_TIME_BLK             0
ARR_TIME                 0
ARR_DEL15                0
CANCELLED                0
DIVERTED                 0
DISTANCE                 0
dtype: int64

In [9]:
# checking for duplicates
flight_del_pred_df.duplicated().sum()

0

In [10]:
# converting dummy variables(strings) to corresponding binary values
le = LabelEncoder()
dummy = ["OP_UNIQUE_CARRIER","OP_CARRIER","TAIL_NUM","ORIGIN","DEST","DEP_TIME","DEP_DEL15","DEP_TIME_BLK","ARR_TIME","ARR_DEL15","CANCELLED","DIVERTED","DISTANCE"]
for i in dummy:
    flight_del_pred_df[i] = le.fit_transform(flight_del_pred_df[i].astype(str))
flight_del_pred_df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,...,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE
0,1,2,0,20363,0,4648,3280,11953,1195302,130,...,1039707,19,1198,0,1,1280,0,0,0,841
1,1,2,0,20363,0,1542,3281,13487,1348702,227,...,1119302,82,280,0,9,461,0,0,0,1130
2,1,2,0,20363,0,4810,3282,11433,1143302,97,...,1119302,82,161,0,7,247,0,0,0,664
3,1,2,0,20363,0,4806,3283,15249,1524906,331,...,1039707,19,381,0,10,453,0,0,0,647
4,1,2,0,20363,0,4867,3284,10397,1039707,19,...,1177801,122,597,0,14,651,0,0,0,1114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,0,20363,0,1427,4812,15412,1541205,342,...,1143302,97,5,1,2,104,1,0,0,985
1191327,31,5,0,20363,0,1222,4813,11433,1143302,97,...,1247805,172,536,0,12,644,0,0,0,1049
1191328,31,5,0,20363,0,1219,4814,11996,1199603,137,...,1295304,191,1186,0,1,1310,0,0,0,1143
1191329,31,5,0,20363,0,826,4815,10397,1039707,19,...,1591904,349,503,0,12,561,0,0,0,1124
1191330,31,5,0,20363,0,826,4815,15919,1591904,349,...,1039707,19,591,0,13,775,0,0,0,1124

In [11]:
#checking for null values
flight_del_pred_df.isnull().sum()

DAY_OF_MONTH             0
DAY_OF_WEEK              0
OP_UNIQUE_CARRIER        0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER               0
TAIL_NUM                 0
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST                     0
DEP_TIME                 0
DEP_DEL15                0
DEP_TIME_BLK             0
ARR_TIME                 0
ARR_DEL15                0
CANCELLED                0
DIVERTED                 0
DISTANCE                 0
dtype: int64

In [12]:
# Checking if any value in the column "CANCELLED" is greater than 0
is_greater_than_zero = (flight_del_pred_df['CANCELLED'] > 0).any()

if is_greater_than_zero:
    print("There are values greater than 0 in the column.")
else:
    print("There are no values greater than 0 in the column.")

There are no values greater than 0 in the column.

In [13]:
# Checking if any value in the column "DIVERTED" is greater than 0
is_greater_than_zero = (flight_del_pred_df['DIVERTED'] > 0).any()

if is_greater_than_zero:
    print("There are values greater than 0 in the column.")
else:
    print("There are no values greater than 0 in the column.")

There are no values greater than 0 in the column.

In [14]:
# remove "CANCELLED" and "DIVERTED" columns
flight_del_pred_df.drop(['CANCELLED', 'DIVERTED'], axis = 1, inplace = True)
flight_del_pred_df

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,DISTANCE
0,1,2,0,20363,0,4648,3280,11953,1195302,130,10397,1039707,19,1198,0,1,1280,0,841
1,1,2,0,20363,0,1542,3281,13487,1348702,227,11193,1119302,82,280,0,9,461,0,1130
2,1,2,0,20363,0,4810,3282,11433,1143302,97,11193,1119302,82,161,0,7,247,0,664
3,1,2,0,20363,0,4806,3283,15249,1524906,331,10397,1039707,19,381,0,10,453,0,647
4,1,2,0,20363,0,4867,3284,10397,1039707,19,11778,1177801,122,597,0,14,651,0,1114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,0,20363,0,1427,4812,15412,1541205,342,11433,1143302,97,5,1,2,104,1,985
1191327,31,5,0,20363,0,1222,4813,11433,1143302,97,12478,1247805,172,536,0,12,644,0,1049
1191328,31,5,0,20363,0,1219,4814,11996,1199603,137,12953,1295304,191,1186,0,1,1310,0,1143
1191329,31,5,0,20363,0,826,4815,10397,1039707,19,15919,1591904,349,503,0,12,561,0,1124
1191330,31,5,0,20363,0,826,4815,15919,1591904,349,10397,1039707,19,591,0,13,775,0,1124

In [15]:
# Checking for correlation
flight_del_pred_df.corr()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,DISTANCE
DAY_OF_MONTH,1.000000,-0.037028,-0.006375,-0.000575,-0.006375,0.002379,-0.015971,-0.006075,-0.006075,-0.005952,-0.005719,-0.005719,-0.005615,-0.003157,-0.013409,-0.004883,-0.005743,-0.005327,0.004218
DAY_OF_WEEK,-0.037028,1.000000,0.000704,0.005989,0.000704,-0.006996,0.058514,0.005676,0.005676,0.005817,0.005284,0.005284,0.005438,-0.004489,0.022633,0.004979,-0.008140,0.024707,-0.005595
OP_UNIQUE_CARRIER,-0.006375,0.000704,1.000000,-0.067677,1.000000,-0.033680,0.301183,0.036494,0.036493,0.040214,0.036644,0.036643,0.040365,-0.013385,0.007188,0.000966,-0.009527,-0.007701,0.061229
OP_CARRIER_AIRLINE_ID,-0.000575,0.005989,-0.067677,1.000000,-0.067677,-0.182489,0.434421,-0.048454,-0.048454,-0.042602,-0.048654,-0.048655,-0.042808,-0.011800,0.035540,0.003939,-0.009025,0.070229,0.007332
OP_CARRIER,-0.006375,0.000704,1.000000,-0.067677,1.000000,-0.033680,0.301183,0.036494,0.036493,0.040214,0.036644,0.036643,0.040365,-0.013385,0.007188,0.000966,-0.009527,-0.007701,0.061229
TAIL_NUM,0.002379,-0.006996,-0.033680,-0.182489,-0.033680,1.000000,0.002121,-0.054593,-0.054592,-0.057850,-0.054597,-0.054596,-0.057875,-0.008321,-0.005644,0.002081,0.001355,-0.015371,0.003333
OP_CARRIER_FL_NUM,-0.015971,0.058514,0.301183,0.434421,0.301183,0.002121,1.000000,-0.055609,-0.055609,-0.051940,-0.060729,-0.060730,-0.057144,-0.031951,0.023933,-0.001985,-0.029205,0.033355,0.097254
ORIGIN_AIRPORT_ID,-0.006075,0.005676,0.036494,-0.048454,0.036494,-0.054593,-0.055609,1.000000,1.000000,0.997308,0.016882,0.016882,0.016236,-0.000454,0.002874,-0.031778,0.007911,0.007959,-0.039882
ORIGIN_AIRPORT_SEQ_ID,-0.006075,0.005676,0.036493,-0.048454,0.036493,-0.054592,-0.055609,1.000000,1.000000,0.997307,0.016882,0.016882,0.016236,-0.000455,0.002874,-0.031777,0.007911,0.007959,-0.039882
ORIGIN,-0.005952,0.005817,0.040214,-0.042602,0.040214,-0.057850,-0.051940,0.997308,0.997307,1.000000,0.016264,0.016264,0.015509,-0.000361,0.003311,-0.031180,0.007334,0.008419,-0.041290
DEST_AIRPORT_ID,-0.005719,0.005284,0.036644,-0.048654,0.036644,-0.054597,-0.060729,0.016882,0.016882,0.016264,1.000000,1.000000,0.997307,0.000555,0.009602,0.030912,-0.018124,0.010728,-0.039689
DEST_AIRPORT_SEQ_ID,-0.005719,0.005284,0.036643,-0.048655,0.036643,-0.054596,-0.060730,0.016882,0.016882,0.016264,1.000000,1.000000,0.997307,0.000555,0.009602,0.030911,-0.018123,0.010728,-0.039688
DEST,-0.005615,0.005438,0.040365,-0.042808,0.040365,-0.057875,-0.057144,0.016236,0.016236,0.015509,0.997307,0.997307,1.000000,0.000331,0.009795,0.029788,-0.018493,0.011384,-0.041123
DEP_TIME,-0.003157,-0.004489,-0.013385,-0.011800,-0.013385,-0.008321,-0.031951,-0.000454,-0.000455,-0.000361,0.000555,0.000555,0.000331,1.000000,-0.090934,-0.386932,0.352609,-0.056936,-0.010298
DEP_DEL15,-0.013409,0.022633,0.007188,0.035540,0.007188,-0.005644,0.023933,0.002874,0.002874,0.003311,0.009602,0.009602,0.009795,-0.090934,1.000000,0.117846,-0.023036,0.716551,-0.005444
DEP_TIME_BLK,-0.004883,0.004979,0.000966,0.003939,0.000966,0.002081,-0.001985,-0.031778,-0.031777,-0.031180,0.030912,0.030911,0.029788,-0.386932,0.117846,1.000000,0.025902,0.079622,0.014697
ARR_TIME,-0.005743,-0.008140,-0.009527,-0.009025,-0.009527,0.001355,-0.029205,0.007911,0.007911,0.007334,-0.018124,-0.018123,-0.018493,0.352609,-0.023036,0.025902,1.000000,-0.021192,0.012972
ARR_DEL15,-0.005327,0.024707,-0.007701,0.070229,-0.007701,-0.015371,0.033355,0.007959,0.007959,0.008419,0.010728,0.010728,0.011384,-0.056936,0.716551,0.079622,-0.021192,1.000000,-0.001452
DISTANCE,0.004218,-0.005595,0.061229,0.007332,0.061229,0.003333,0.097254,-0.039882,-0.039882,-0.041290,-0.039689,-0.039688,-0.041123,-0.010298,-0.005444,0.014697,0.012972,-0.001452,1.000000

In [16]:
# Input dataset
x = flight_del_pred_df.drop(columns=flight_del_pred_df.columns[14])
x

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,DISTANCE
0,1,2,0,20363,0,4648,3280,11953,1195302,130,10397,1039707,19,1198,1,1280,0,841
1,1,2,0,20363,0,1542,3281,13487,1348702,227,11193,1119302,82,280,9,461,0,1130
2,1,2,0,20363,0,4810,3282,11433,1143302,97,11193,1119302,82,161,7,247,0,664
3,1,2,0,20363,0,4806,3283,15249,1524906,331,10397,1039707,19,381,10,453,0,647
4,1,2,0,20363,0,4867,3284,10397,1039707,19,11778,1177801,122,597,14,651,0,1114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191326,31,5,0,20363,0,1427,4812,15412,1541205,342,11433,1143302,97,5,2,104,1,985
1191327,31,5,0,20363,0,1222,4813,11433,1143302,97,12478,1247805,172,536,12,644,0,1049
1191328,31,5,0,20363,0,1219,4814,11996,1199603,137,12953,1295304,191,1186,1,1310,0,1143
1191329,31,5,0,20363,0,826,4815,10397,1039707,19,15919,1591904,349,503,12,561,0,1124
1191330,31,5,0,20363,0,826,4815,15919,1591904,349,10397,1039707,19,591,13,775,0,1124

In [17]:
# output dataset 
y = flight_del_pred_df.iloc[:,14]
y

0          0
1          0
2          0
3          0
4          0
          ..
1191326    1
1191327    0
1191328    0
1191329    0
1191330    0
Name: DEP_DEL15, Length: 1165231, dtype: int32

In [25]:
# splitting to training and testing datasets
trainx, testx, trainy, testy = train_test_split(x, y, test_size = 0.1)

In [26]:
# Random Forest model building
Random_Forest = RFC(n_jobs = 18, n_estimators = 100, oob_score = True, criterion = 'entropy')

# Train the model and predict the test data
modelrf = Random_Forest.fit(trainx,trainy).predict(testx)

In [27]:
# Accuracy of Random Forest Model
accuracyrf = np.mean(modelrf == testy)
accuracyrf

0.9490233771583536